<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paradgimas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<body>
    <table id="dataTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Data</th>
                <th>Selecionar</th>
                <!-- Adicione mais colunas conforme necessário -->
            </tr>
        </thead>
        <tbody>
            <!-- Os dados da API serão exibidos aqui -->
        </tbody>
    </table>

    <div id="pagination" class="pagination-container">
        <button id="prevPage">Anterior</button>
        <span id="currentPage">1</span>
        <button id="nextPage">Próxima</button>
    </div>

    <br><br>

    <table id="itensSelecionados">
        <thead>
            <th>ID</th>
            <th>Title</th>
            <th>Data</th>
        </thead>
    </table>

    <div>
        <button id="recomendacao">Recomendar</button>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
    <script src="{{ url_for('static', filename= 'js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/worker.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/worker2.js') }}"></script>


    <script>
        const key = "1b3b9179";
        var paginaAtual = 1;
        const url = "https://api.themoviedb.org/3/discover/movie?api_key=cfdd431aa71175eab089ab96641cd816&include_adult=false&include_video=false&language=en-US&sort_by=popularity.desc&page=";
        const itensPorPagina = 20;
        const totalPages = 100;
        const filmesSelecionados = [];
        let contadorDeFilmesSelecionados = 0;
        var dadosDaAPI;
        let flag = 0

        var filmesBuscados = new SharedArrayBuffer(8192000)
        var recomendacaoFilmes = new SharedArrayBuffer(50000)
        var recomendacoes = new Array(5)

        buscaDadosNaApiEPopulaTabela()

        $('#prevPage').on('click', function () {
            if (paginaAtual > 1) {
                paginaAtual--;
                buscaDadosNaApiEPopulaTabela();
            }
        });


        $('#nextPage').on('click', function () {
            if (paginaAtual < totalPages) {

                paginaAtual++;
                buscaDadosNaApiEPopulaTabela();
            }
        });

        function buscaDadosNaApiEPopulaTabela() {
            // Fazer a solicitação usando o Axios
            apiUrl = url + paginaAtual
            axios.get(apiUrl)
                .then(response => {
                    // Processar os dados e popular a tabela
                    dadosDaAPI = response.data;
                    popularTabela(paginaAtual);
                })
                .catch(error => {
                    console.error(`Error: ${error.message}`);
                });
        }

        function popularTabela(pagina) {
            id = 1 + (20 * (paginaAtual - 1))
            var tabela = $('#dataTable tbody');
            tabela.empty(); // Limpa a tabela antes de adicionar novos dados
            // Itera sobre os dados paginados e adiciona linhas à tabela
            $.each(dadosDaAPI.results, function (index, item) {
                var linha = '<tr id=' + id + '>' +
                    '<td data-id=' + id + '>' + item.id + '</td>' +
                    '<td data-id=' + id + '>' + item.title + '</td>' +
                    '<td data-id=' + id + '>' + item.release_date + '</td>' +
                    '<td> <button onclick="PegaItemSelecionadoEPassaParaOutraTabela(event)">Adicionar</button> </td>'
                // Adicione mais colunas conforme necessário
                '</tr>';
                id++;
                tabela.append(linha);
            });

            // Atualiza o número da página atual na interface
            $('#currentPage').text(pagina);
        }

        function PegaItemSelecionadoEPassaParaOutraTabela(event) {
            const tabela = document.getElementById('itensSelecionados');
            const numeroDeLinhas = tabela.rows.length;
            if (numeroDeLinhas <= 5) {
                const button = event.target;
                const row = button.parentNode.parentNode;

                // Adiciona a classe 'selected' à célula da tabela superior
                const cells = row.getElementsByTagName('td');
                for (const cell of cells) {
                    cell.classList.add('selected');
                }

                const item = dadosDaAPI.results.find(objeto => objeto.id == cells[0].innerText)
                filmesSelecionados.push(item)

                // Cria uma nova linha na tabela inferior excluindo o botão
                const newRow = document.getElementById('itensSelecionados').insertRow();
                for (let i = 0; i < cells.length - 1; i++) {
                    const cellClone = newRow.insertCell(i);
                    cellClone.textContent = cells[i].textContent;
                }

                // Adiciona um botão "Remover" à nova linha na tabela inferior
                const removeButtonCell = newRow.insertCell(cells.length - 1);
                const removeButton = document.createElement('button');
                removeButton.textContent = 'Remover';
                removeButton.onclick = function () {
                    removeItemDosSelecionas(newRow);
                };
                removeButtonCell.appendChild(removeButton);


                // Opcional: você pode remover a linha da tabela superior se desejar
                row.parentNode.removeChild(row);
            } else {

                alert("Ja foi selecionado a quantidade maxima de filmes! ");
            }
        }

        function removeItemDosSelecionas(row) {

            row.parentNode.removeChild(row);
            idAProcurar = row.cells[0].innerHTML
            var objetoEncontrado = filmesSelecionados.find(obj => obj.id === parseInt(idAProcurar))
            if (objetoEncontrado) {
                let indiceDoObjeto = filmesSelecionados.indexOf(objetoEncontrado);
                filmesSelecionados.splice(indiceDoObjeto, 1);
            }
            contadorDeFilmesSelecionados--;
        }

        $('#recomendacao').on('click', function () {
            if (flag === 1 && filmesSelecionados.length > 0) {
                fazerRecomendacao()
            } else if(flag === 0){
                alert("Filmes Sendo Buscados, espere no máximo 10 segundos")
            } else {
                alert("Selecione pelo menos 1 filme para fazer a recomendacao")
            }
        });


        workers = []
        numWorkers = 5
        numPaginas = 200
        async function buscaDados() {
            const minhaPromessa = new Promise((resolve) => {
                // Criar workers
                for (let i = 0; i < numWorkers; i++) {
                    const worker = new Worker('worker.js');
                    workers.push(worker);
                }
            
                const div = Math.ceil(numPaginas/numWorkers)
                let pagFinalInicial = div
                let paginasWorkerFinal = numPaginas - (div*(numWorkers-1))
                var data = {
                    buffer: filmesBuscados,
                    index: 0,
                    pagInicial: 1,
                    pagFinal: pagFinalInicial,
                };
                for (let i = 0; i < numWorkers; i++) {
                    workers[i].postMessage(data);
                    if(i == (numWorkers-2)){
                        data.pagInicial += div
                        data.pagFinal += paginasWorkerFinal
                        data.index = 40000 * (data.pagInicial-1)
                    }else{
                        data.pagInicial += div
                        data.pagFinal += div
                        data.index = 40000 * (data.pagInicial-1)
                    }
                }
                setTimeout(() => {resolve('Operação concluída com sucesso!');}, 10000);
            });
            const resultado = await minhaPromessa;

            // Isso será executado somente depois que a Promessa for resolvida
            console.log("Busquei os dados")
            flag = 1
        }

        buscaDados()
        async function fazerRecomendacao(){
            workers2 = []
            const minhaPromessa = new Promise((resolve) => {   
                for (let i = 0; i < numWorkers; i++) {
                    const worker = new Worker('worker2.js');
                    workers2.push(worker);
                }
            
                const div = Math.ceil(numPaginas/numWorkers)
                let pagFinalInicial = div
                let paginasWorkerFinal = numPaginas - (div*(numWorkers-1))
                var data = {
                    bufferFilmes: filmesBuscados,
                    bufferResultados: recomendacaoFilmes,
                    indexResultados: 0,
                    index: 0,
                    pagInicial: 1,
                    pagFinal: pagFinalInicial,
                    filmesSelecionados: filmesSelecionados,
                    
                };
                for (let i = 0; i < numWorkers; i++) {
                    workers2[i].postMessage(data);
                    if(i == (numWorkers-2)){
                        data.pagInicial += div
                        data.pagFinal += paginasWorkerFinal
                        data.index = 40000 * (data.pagInicial-1)
                        data.indexResultados += 2500
                    }else{
                        data.pagInicial += div
                        data.pagFinal += div
                        data.index = 40000 * (data.pagInicial-1)
                        data.indexResultados += 2500
                    }
                }
                console.log("Fazendo a Recomendacao")
                setTimeout(() => {resolve('Operação concluída com sucesso!');}, 7000);
            });
            const resultado = await minhaPromessa;

            // Isso será executado somente depois que a Promessa for resolvida
            decodificaEMonstraFilmesRecomendados()
        }

        function decodificaEMonstraFilmesRecomendados(){
            let array = []
            posicao = 0
            const view = new Uint8Array(recomendacaoFilmes);
            for(i = 0; i < (numWorkers*5); i++){
                viewHere = view.slice(posicao, posicao + 499);

                const specialChar = '!'.charCodeAt(0);
                const specialCharIndex = Array.from(viewHere).indexOf(specialChar);
        
                const dec = new TextDecoder();
                decoded = viewHere.slice(0, specialCharIndex)
                let string = dec.decode(decoded);
        
                const idChar = '&'.charCodeAt(0);
                const idIndex = Array.from(viewHere).indexOf(idChar);
                id = string.slice(0, idIndex)
                string = string.slice(idIndex + 1)
        
                const titleChar = '#'.charCodeAt(0);
                let titleIndex = (Array.from(viewHere).indexOf(titleChar)) - idIndex - 1;
        
                title = string.slice(0, titleIndex)
                let contador = 0;
                titleIndex = titleIndex - contador
                title = string.slice(0, titleIndex)
                result = parseFloat(string.slice(titleIndex + 1))
                const data = {
                    filmeId: id,
                    filmeTitle: title,
                    filmeResult: result,
                }
                array.push(data);
                posicao += 500
            }

            const compararPorResultado = (a, b) => a.filmeResult - b.filmeResult;
            const arrayOrdenado = array.sort(compararPorResultado);
            for(i = 0; i < 5; i++){
                recomendacoes[i] = arrayOrdenado[i].filmeTitle.replace("#", "")
            }
            let string = "Recomendacoes \n"
            recomendacoes.forEach((element, i)=>{
                string = string + (i+1) + ": " + element + "\n"
            })
            console.log(string)
            alert(string)
        }

    </script>

</body>

</html>